<!DOCTYPE html>
​​<html lang="en">
​​  {{ partial "head" . }}
​​  <body>
​​    <div class="content">
​​      <!-- replace in part 7 -->
​​      <section class="page">
​​        {{ block "main" . }}{{ end }}
​​      </section>
​​    </div>
​​
​​    <script async src="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.js"></script>
​​    <div id="snipcart" data-config-modal-style="side" data-api-key="YTM2NDI3ZjEtZTU1MC00MTU3LWExMzEtY2Q0NWQyZDk1M2JiNjM3MzU5NTA3OTk5ODI2OTU1" hidden></div>
​​  </body>
​​</html>